
<div class="mt-8">
  <h3 class="text-3xl font-bold">Sobre mí</h3>
  <p class="mt-2 text-pretty">
    Soy un programador apasionado por la tecnología, siempre buscando nuevas
    oportunidades para aplicar mis habilidades en entornos desafiantes. disfruto
    resolviendo problemas complejos y explorando el vasto mundo de la
    programación. Estoy emocionado por encontrar el próximo reto que me permita
    crecer profesionalmente y contribuir con mi creatividad y dedicación a un
    equipo innovador.
  </p>
</div>
<hr class="border-green-500 my-8" />
