<div class="mt-8">
  <h3 class="text-3xl font-bold mb-4">Experiencia</h3>
    <div class="flex items-center">
      <div class="text-">
        <h4 class="font-bold">Municipalidad de Tocopilla</h4>
        <p class="text-sm">Tecnico informatico</p>
        <span class="text-xs text-green-500">Abril 2024 - Julio 2024</span>
        <p class="text-sm">
          - Controlar y gestionar los requerimientos de soporte TI de las
          distintas áreas de la empresa, considerando tanto soporte a software y
          hardware.
        </p>
        <p class="text-sm">
          - Realizar instalaciones de software, configuraciones y mantención de estos.
        </p>
        <p class="text-sm">
          - Asistí a los usuarios en la resolución de problemas técnicos y en la utilización
          de software corporativo.
        </p>
        <p class="text-sm">
          - Diagnostiqué y solucioné problemas técnicos, asegurando la continuidad
          operativa de los equipos.
        </p>
        
      </div>
    </div>
    <hr class="border-green-500 my-8" />

</div>
