<div class="mt-8">
    <h3 class="text-3xl font-bold">Experiencia</h3>
    <div class="mt-2">
      <div class="flex items-center">
        <div>
          <h4 class="font-bold">Metacortex</h4>
          <p class="text-sm">Programador</p>
          <p class="text-sm">
            Programo software respetable desde un cubículo.
          </p>
          <span class="text-xs text-green-500">1999</span>
        </div>
      </div>
      <div class="flex items-center mt-4">
        {/*<FaRocket class="text-green-500 mr-2" /> */}
        <div>
          <h4 class="font-bold">Nebuchadnezzar</h4>
          <p class="text-sm">El Elegido</p>
          <p class="text-sm">Me encargo de salvar el mundo.</p>
          <span class="text-xs text-green-500">
            1999 - Actualidad
          </span>
        </div>
      </div>
    </div>
  </div>