<div class="mt-8">
  <h3 class="text-3xl font-bold">Formación Acádemica</h3>
  <div class="mt-4">
    <div class="flex items-center mt-4">
      <ol class="relative border-s border-neutral-600">
        <li class="mb-10 ms-4">
          <div
            class="absolute w-3 h-3 bg-green-800 rounded-full mt-1.5 -start-1.5 border border-white"
          >
          </div>
          <time class="mb-1 text-sm font-normal leading-none text-green-500"
            >2009 - 2016</time
          >
          <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
            Básica: 8vo Básico Escuela Carlos Condell.
          </h3>
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"></path>
        </li>
        <li class="mb-10 ms-4">
          <div
            class="absolute w-3 h-3 bg-green-800 rounded-full mt-1.5 -start-1.5 border border-white"
          >
          </div>
          <time class="mb-1 text-sm font-normal leading-none text-green-500"
            >2017 - 2020</time
          >
          <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
            Media: 4to Medio Liceo Politécnico Diego Portales Palazuelos.
          </h3>
        </li>
        <li class="mb-10 ms-4">
          <div
            class="absolute w-3 h-3 bg-green-800 rounded-full mt-1.5 -start-1.5 border border-white"
          >
          </div>
          <time class="mb-1 text-sm font-normal leading-none text-green-500"
            >2021 - 2023</time
          >
          <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
            Educación Superior: Analista Programador Instituto Inacap
          </h3>
        </li>
        <li class="ms-4">
          <div
            class="absolute w-3 h-3 bg-green-800 rounded-full mt-1.5 -start-1.5 border border-white"
          >
          </div>
          <time class="mb-1 text-sm font-normal leading-none text-green-500"
            >Inicio: 22-04-2024 - Término: 19-06-2024</time
          >
          <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
            Práctica Profesional: Municipalidad de Tocopilla
          </h3>
        </li>
      </ol>
    </div>
  </div>
</div>
