---
import React from "../icons/React.astro";
import Tailwind from "../icons/Tailwind.astro";
import Express from "../icons/Express.astro";
import Postgresql from "../icons/Postgresql.astro";
import "../CSS/Card.css";
---


<div class="mt-8">
    <h3 class="text-3xl font-bold">Proyectos Personales</h3>
    <div class="mt-4">
      <div class='relative h-48 w-48 overflow-hidden rounded-xl border border-gray-800 p-[1px] backdrop-blur-3xl'>
        <span class='absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#E2CBFF_0%,#393BB2_50%,#E2CBFF_100%)]' />
        <div class='inline-flex h-full w-full items-center justify-center rounded-xl bg-gray-950 px-3 py-1 text-sm font-medium text-gray-50 backdrop-blur-3xl' />
      </div>
      <div class="flex flex-col items-center gap-8">
        <div
          class="flex flex-col items-center mt-4 border border-opacity-30 rounded-lg shadow md:flex-row border-green-700 bg-neutral-900"
        >
          <div class="flex flex-col justify-between p-4 leading-normal max-w-lg">
            <h5
              class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
            >
              Rincon Tocopillano
            </h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
              El objetivo de esta página web es crear una plataforma en línea
              inclusiva y accesible para la comunidad de Tocopilla, un foro
              comercial que permita a usuarios individuales y PYMES vender sus
              productos de manera eficiente y segura.
            </p>
            <ul class="flex flex-row flex-wrap mb-2 gap-2">
              <li>
                <span
                  class="flex items-center gap-x-2 rounded-full text-xs border border-gray-100 border-opacity-20 text-white py-1 px-2"
                >
                  <React class="h-6 w-6" />ReactJS
                </span>
              </li>
              <li>
                <span
                  class="flex items-center gap-x-2 rounded-full text-xs border border-gray-100 border-opacity-20 text-white py-1 px-2"
                >
                  <Tailwind class="h-6 w-6" />Tailwind
                </span>
              </li>
              <li>
                <span
                  class="flex items-center gap-x-2 rounded-full text-xs border border-gray-100 border-opacity-20 text-white py-1 px-2"
                >
                  <Express class="h-6 w-6" />Express.js
                </span>
              </li>
              <li>
                <span
                  class="flex items-center gap-x-2 rounded-full text-xs border border-gray-100 border-opacity-20 text-white py-1 px-2"
                >
                  <Postgresql class="h-6 w-6" />PostgreSQL
                </span>
              </li>
            </ul>
          </div>
  
          <img
            class="object-cover rounded-lg h-64 w-64 m-4"
            src="./images/proyecto1.webp"
            alt=""
          />
        </div>
        <div
          class="flex flex-col items-center border border-opacity-30 rounded-lg shadow md:flex-row border-green-700 bg-neutral-900"
        >
          <div class="flex flex-col justify-between p-4 leading-normal max-w-lg">
            <h5
              class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
            >
              Rincon Tocopillano
            </h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
              El objetivo de esta página web es crear una plataforma en línea
              inclusiva y accesible para la comunidad de Tocopilla, un foro
              comercial que permita a usuarios individuales y PYMES vender sus
              productos de manera eficiente y segura.
            </p>
            <ul class="flex flex-row flex-wrap mb-2 gap-2">
              <li>
                <span
                  class="flex items-center gap-x-2 rounded-full text-xs border border-gray-100 border-opacity-20 text-white py-1 px-2"
                >
                  <React class="h-6 w-6" />ReactJS
                </span>
              </li>
              <li>
                <span
                  class="flex items-center gap-x-2 rounded-full text-xs border border-gray-100 border-opacity-20 text-white py-1 px-2"
                >
                  <Tailwind class="h-6 w-6" />Tailwind
                </span>
              </li>
              <li>
                <span
                  class="flex items-center gap-x-2 rounded-full text-xs border border-gray-100 border-opacity-20 text-white py-1 px-2"
                >
                  <Express class="h-6 w-6" />Express.js
                </span>
              </li>
              <li>
                <span
                  class="flex items-center gap-x-2 rounded-full text-xs border border-gray-100 border-opacity-20 text-white py-1 px-2"
                >
                  <Postgresql class="h-6 w-6" />PostgreSQL
                </span>
              </li>
            </ul>
          </div>
  
          <img
            class="object-cover rounded-lg h-64 w-64 m-4"
            src="./images/proyecto1.webp"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>