--- 
import React from "../icons/React.astro";
import Tailwind from "../icons/Tailwind.astro";
import Express from "../icons/Express.astro";
import Postgresql from "../icons/Postgresql.astro";
import Django from "../icons/Django.astro";
import JavaScript from "../icons/JavaScript.astro";
import Php from "../icons/Php.astro";
import MongoDB from "../icons/MongoDB.astro";
import MySQL from "../icons/MySQL.astro";
import HTML from "../icons/HTML.astro";
import Bootstrap from "../icons/Bootstrap.astro";
import AWS from "../icons/AWS.astro";
import AstroLogo from "../icons/AstroLogo.astro";
---

<div>
    <h3 class="text-3xl font-bold">Tecnologías</h3>
    <div class="flex flex-wrap gap-2 mt-6">
      <ul class="flex flex-row flex-wrap mb-2 gap-2">
        <!-- Frontend Technologies -->
        <li>
          <span
            class="flex items-center gap-x-2 bg-neutral-900 rounded-full text-xs border border-neutral-700 text-white py-1 px-2"
          >
            <HTML class="size-6" />HTML
          </span>
        </li>
        <li>
          <span
            class="flex items-center gap-x-2 bg-neutral-900 rounded-full text-xs  border border-neutral-700 text-white py-1 px-2"
          >
            <AstroLogo class="size-6" />Astro
          </span>
        </li>
        <li>
          <span
            class="flex items-center gap-x-2 bg-neutral-900 rounded-full text-xs  border border-neutral-700 text-white py-1 px-2"
          >
            <JavaScript class="size-6" />JavaScript
          </span>
        </li>
        <li>
          <span
            class="flex items-center gap-x-2 bg-neutral-900 rounded-full text-xs  border border-neutral-700 text-white py-1 px-2"
          >
            <React class="size-6" />ReactJS
          </span>
        </li>
        <li>
          <span
            class="flex items-center gap-x-2 bg-neutral-900 rounded-full text-xs  border border-neutral-700 text-white py-1 px-2"
          >
            <Tailwind class="size-6" />Tailwind
          </span>
        </li>
        <li>
          <span
            class="flex items-center gap-x-2 bg-neutral-900 rounded-full text-xs  border border-neutral-700 text-white py-1 px-2"
          >
            <Bootstrap class="size-6" />Bootstrap
          </span>
        </li>
  
        <!-- Backend Technologies -->
        <li>
          <span
            class="flex items-center gap-x-2 bg-neutral-900 rounded-full text-xs  border border-neutral-700 text-white py-1 px-2"
          >
            <Express class="size-6" />Express.js
          </span>
        </li>
        <li>
          <span
            class="flex items-center gap-x-2 bg-neutral-900 rounded-full text-xs  border border-neutral-700 text-white py-1 px-2"
          >
            <Django class="size-6" />Django
          </span>
        </li>
        <li>
          <span
            class="flex items-center gap-x-2 bg-neutral-900 rounded-full text-xs  border border-neutral-700 text-white py-1 px-2"
          >
            <Php class="size-6" />
          </span>
        </li>
        <li>
          <span
            class="flex items-center gap-x-2 bg-neutral-900 rounded-full text-xs  border border-neutral-700 text-white py-1 px-2"
          >
            <Postgresql class="size-6" />PostgreSQL
          </span>
        </li>
        <li>
          <span
            class="flex items-center gap-x-2 bg-neutral-900 rounded-full text-xs  border border-neutral-700 text-white py-1 px-2"
          >
            <MongoDB class="size-6" />MongoDB
          </span>
        </li>
        <li>
          <span
            class="flex items-center gap-x-2 bg-neutral-900 rounded-full text-xs  border border-neutral-700 text-white py-1 px-2"
          >
            <MySQL class="size-6" />MySQL
          </span>
        </li>
        <li>
          <span
            class="flex items-center gap-x-2 bg-neutral-900 rounded-full text-xs  border border-neutral-700 text-white py-1 px-2"
          >
            <AWS class="size-6" />AWS
          </span>
        </li>
      </ul>
    </div>
  </div>
  